[submodule "lib/geb-deploy"]
	path = lib/geb-deploy
	url = https://github.com/reflexer-labs/geb-deploy.git
[submodule "lib/geb-collateral-auction-throttler"]
	path = lib/geb-collateral-auction-throttler
	url = https://github.com/reflexer-labs/geb-collateral-auction-throttler.git
[submodule "lib/merkle-distributor"]
	path = lib/merkle-distributor
	url = https://github.com/reflexer-labs/merkle-distributor.git
[submodule "lib/geb-fsm"]
	path = lib/geb-fsm
	url = https://github.com/reflexer-labs/geb-fsm.git
[submodule "lib/geb-debt-ceiling-setter"]
	path = lib/geb-debt-ceiling-setter
	url = https://github.com/reflexer-labs/geb-debt-ceiling-setter.git
