[submodule "lib/geb-deploy"]
	path = lib/geb-deploy
	url = https://github.com/reflexer-labs/geb-deploy.git
[submodule "lib/geb-collateral-auction-throttler"]
	path = lib/geb-collateral-auction-throttler
	url = https://github.com/reflexer-labs/geb-collateral-auction-throttler.git
[submodule "lib/merkle-distributor"]
	path = lib/merkle-distributor
	url = https://github.com/reflexer-labs/merkle-distributor.git
