[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-note"]
	path = lib/ds-note
	url = https://github.com/dapphub/ds-note
[submodule "lib/geb-deploy"]
	path = lib/geb-deploy
	url = https://github.com/reflexer-labs/geb-deploy.git
[submodule "lib/ds-exec"]
	path = lib/ds-exec
	url = https://github.com/reflexer-labs/ds-exec.git
[submodule "lib/ds-value"]
	path = lib/ds-value
	url = https://github.com/reflexer-labs/ds-value.git
[submodule "lib/geb-collateral-auction-throttler"]
	path = lib/geb-collateral-auction-throttler
	url = https://github.com/reflexer-labs/geb-collateral-auction-throttler.git
